@import url('file:///home/natem/.cache/wal/colors-waybar.css');

* {
    font-family: 'FiraMono Nerd Font Propo', Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
}

window#waybar {
    background-color: @background;
    border-bottom: 1px solid @color13;
    color: @foreground;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
    opacity: 0.5;
}

window#waybar.darktable {
    border-bottom: 1px solid @color9;
    opacity: 0.8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    opacity: 0.8;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
    opacity: 1.0;
}

#workspaces button {
    padding: 0 5px;
    background-color: inherit;
    color: inherit;
    opacity: inherit;
}

#workspaces button.active {
    background-color: @color1;
    border-bottom: 1px solid @color12;
}

#clock,
#idle_inhibitor,
#pulseaudio,
#network,
#temperature,
#cpu,
#custom-power {
    padding: 5px;
}

#clock:hover,
#idle_inhibitor:hover,
#pulseaudio:hover,
#network:hover,
#temperature:hover,
#cpu:hover,
#custom-power:hover {
    background-color: @color13;
    opacity: 0.9;
} 
