/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0B0F17 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c3c5; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c3c5; background-color: rgba(120,112,75,0.4)}
.cm-s-nqqwal { background-color: #0B0F17; color: #c2c3c5; }
.cm-s-nqqwal span.cm-builtin { color: #434236; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #59616e; }
.cm-s-nqqwal span.cm-keyword { color: #534f39; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #66512d; }
.cm-s-nqqwal span.cm-def { color: #5d6152; }
.cm-s-nqqwal span.cm-variable { color: #78704b; }
.cm-s-nqqwal span.cm-variable-2 { color: #5d6152; }
.cm-s-nqqwal span.cm-string { color: #434236; }
.cm-s-nqqwal span.cm-string-2 { color: #434236; }
.cm-s-nqqwal span.cm-number { color: #5d6152; }
.cm-s-nqqwal span.cm-tag { color: #534f39; }
.cm-s-nqqwal span.cm-property { color: #78704b; }
.cm-s-nqqwal span.cm-attribute { color: #78704b; }
.cm-s-nqqwal span.cm-qualifier { color: #66512d; }
.cm-s-nqqwal span.cm-meta { color: #5d6152; }
.cm-s-nqqwal span.cm-header { color: #534f39; }
.cm-s-nqqwal span.cm-operator { color: #534f39; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(93,97,82,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #534f39; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0B0F17); }
